/* NavBar */
.side_menu {
   display: flex;
   justify-content: flex-end;
   margin: 20px;
   cursor: pointer;
}

.side_menu .loginBtn {
   margin-left: 10px;
   text-decoration: none;
   color: black;
}

.nav_section {
   display: flex;
   justify-content: center;
}

.menu_area {
   display: flex;
   justify-content: center;
}

.menu_list {
   display: flex;
   list-style-type: none;
}

.menu_list li {
   padding: 10px;
}

.nav_search {
   display: flex;
   justify-content: flex-end;
   margin-right: 20px;
   margin-top: -45px;
}

.nav_search .search_input {
   justify-content: flex-end;
   margin-left: 10px;
   border: none;
   border-bottom: 2px solid gray;
   outline: none;
   position: relative;
}

.search_input:focus {
   outline: none;
}

.product_img {
   width: 300px;
   margin-bottom: 5px;
}

.product_card {
   margin-top: 30px;
}

.product_card:hover {
   scale: 1.1;
}

/* LoginPage */
.login_form1 {
   justify-content: center;
   display: flex;
   align-items: center;
}

.login_form1 .login_form2 {
   width: 500px;
   height: auto;
   /* border: 1px solid gray; */
   /* border-radius: 10px; */
   margin-top: 100px;
}

h2 {
   padding: 40px;
   justify-content: center;
   align-items: center;
   display: flex;
}
form {
   margin-top: 50px;
}

.id {
   margin-left: 50px;
   margin-bottom: 40px;
}

.password {
   margin-left: 50px;
   /* margin-bottom: 40px; */
}

.id label {
   margin-right: 35px;
   font-size: larger;
}

.password label {
   margin-right: 20px;
   font-size: larger;
}

.login_form1 .login_form2 form input {
   width: 300px;
   height: 50px;
   border: none;
   border-bottom: 1px solid;
}

Input:focus {
   outline: none;
}

.find_idpassword {
   display: flex;
   justify-content: flex-end;
   margin-right: 70px;
   margin-top: 20px;
}

.find_idpassword .find_id {
   /* text-decoration: none; */
   margin-right: 10px;
   color: gray;
}

.find_idpassword .find_password {
   /* text-decoration: none; */
   margin-left: 10px;
   color: gray;
}

.login_btn {
   display: flex;
   justify-content: center;
   margin-top: 40px;
}

.btn {
   margin-top: 50px;
   width: 150px;
   height: 50px;
   border-radius: 5px;
   background-color: rgb(187, 187, 187);
   border: 1px solid black;
}

/* product detail page */

.container {
   margin-top: 50px;
}
.product_detail_img {
   width: 250px;
   height: auto;
   display: flex;
   justify-content: flex-end;
}

.detail_info {
   margin-left: 10px;
}
.detail_title {
   font-size: 1.7rem;
}

.detail_price {
   font-size: 1.4rem;
}

.detail_choice {
   margin-top: 10px;
}
.dropdown_toggle {
   background-color: white;
   color: black;
   border-radius: 0px;
}

.dropdown_toggle:hover {
   background-color: lightgray;
   color: black;
}

.dropdown_toggle:active,
.dropdown_toggle.show {
   background-color: lightgray !important;
   border-color: lightgray !important;
   color: black !important;
}

.product_choice {
   width: 100%;
   background-color: black;
}
